<template>
    <div class="wrap">
     <div class="left">
        <div v-for="(item,val) in allData.categoryList"  :key="val" class="smallleft" :class="{'red':val==currentIndex}" @click="go(val)">
            {{item.categoryName}}
        </div>
        <div class="bottom">   <div>总量:{{total}}</div>
        <div>总价:{{allPrice}}</div>
        <div @click="lookshopCar">点击查看购物车</div></div>
     
     </div>
     <scroll class="scroll-y">
              <div >
                  <div class="right">
         <div v-for="(item,val) in allData.categoryList" :key="val" ref="foodList">
           <h5>{{item.categoryName}}</h5> 
           <div v-for="(ite,ind) in item.spuList" :key="ind" class="shopGoods">
               <dl>
                   <dt> <img :src="ite.littleImageUrl" class="img"></dt>
                   <dd>
                       <p> {{ite.spuName}}</p>        
                       <p>价格:{{ite.originPrice}}</p>  
                       <p>价格:{{ite.price}}</p>
                       <!-- 每个小的元素的标识   大元素的下表 -->
                    <p  v-if="!ite.count"><el-button type="primary"  circle @click="addCount(ite.spuId,val)">+</el-button></p>
                     <p v-else>
                         <el-button type="warning"  circle @click="addCounts('del',ite.spuId,val)">-</el-button>
                         <span>{{ite.count}}</span>
                        <el-button  type="primary"  circle @click="addCounts('add',ite.spuId,val)">+</el-button>
                     </p>
                   </dd>
               </dl>
           </div>
        </div>
    </div>
         </div>
     </scroll>
    
   <div class="tk" v-if="flag">
       <div v-for="(ite,val) in shopCar" :key="val">
               <dl>
                   <dt> <img :src="ite.littleImageUrl" class="img"></dt>
                   <dd>
                       <p> {{ite.spuName}}</p>        
                       <p>价格:{{ite.originPrice}}</p>  
                            <p>价格:{{ite.price}}</p>
                       <!-- 每个小的元素的标识   大元素的下表 -->
                    <p  v-if="!ite.count"><el-button type="primary"  circle @click="addCount(ite.spuId,val)">+</el-button></p>
                     <p v-else>
                         <el-button type="warning"  circle @click="addCounts('del',ite.spuId)">-</el-button>
                         <span>{{ite.count}}</span>
                        <el-button  type="primary"  circle @click="addCounts('add',ite.spuId)">+</el-button>
                     </p>
                   </dd>
               </dl>
           </div>
   </div>
    </div>
</template>

<script>
import axios from "axios";
import Shop from "./shop";
import { mapActions,mapState,mapMutations,mapGetters } from "vuex";
import { getData } from "../request/request";
import BScroll from 'better-scroll';

export default {
    name:"index",
    data(){
        return {
            flag:false ,
            scroll:"",
            currentIndex:0
        }
    },
    mounted(){
            let wrapper = document.querySelector('.scroll-y')
            this.scroll = new BScroll(wrapper,{
                click:true,
                probeType: 2
            })
    },
    created(){
         getData().then(res=>{
          this.$store.dispatch("saveData",JSON.parse(res.data))
             })
        },
    computed:{
        ...mapState({
            allData:(state)=> state.allData,
            total:(state)=>state.total,
            allPrice:(state)=>state.allPrice,
             shopCar:(state)=>state.shopCar,
        }),
        ...mapGetters([
            'getShopData'
        ])
    },
    
    methods:{
       addCount(smallind,bidInd){
                this.$store.dispatch("changeCount",{smallind,bidInd})
       },
       ...mapActions([
           'changeCount',
           "changeCounts"
       ]),
       addCounts(type,smallind,bidInd){
           this.$store.dispatch("changeCounts",{type,smallind,bidInd})
       },
       async lookshopCar(){
           this.flag=!this.flag
       },
       go(ind){
         //点击左侧的菜单项的时候，右边跳到相应的内容区域
          let foodList = this.$refs.foodList; //获取到右边li对象
          let el = foodList[ind];//根据index，获取到右边具体滚动到的li
         this.scroll.scrollToElement(el,300);//要滑动到右边的对象，300完成动作的时间
         this.currentIndex=ind;
       }
       
     }
}
</script>

<style>
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.left{
    width:30%;
    height: 100%;
}
.smallleft{
    width: 100%;
    height:44px;
    line-height: 44px;
    text-align: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right{
    flex: 1;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.shopGoods{
    width: 100%;
    height: 180px;
    display: flex;
}
dl{width: 100%;
    height: 100%;
    display: flex;
}
dt{
    width: 30%;
    height: 150px;
     vertical-align: middle;
}
dd{
    flex: 1;
    height: 100%;
}
.img{
    width: 100%;
    height: 100px;
   
}
.tk{
    width: 100%;
    height: 300px;
    border: 1px solid red;
    position: absolute;
    bottom:50px;
    left: 0;
    z-index: 9999;
    background: wheat;
    overflow: auto;

}
.bottom{
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    background: blue;
    opacity: .5;
    color: white;
  z-index: 999;
}
.red{
    background: red;
}
</style>
